.home {
  background-color: white;
  width: 100%;
  border-radius: 0.5rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .header {
    display: flex;
    justify-content: space-between;

    &-actions {
      display: flex;
      align-items: center;
      gap: 1rem;

      .tab-btn {
        background-color: transparent;
        display: flex;
        align-items: center;
        border-bottom: 2px solid white;
        padding: 0 2px 0.25rem;

        &.selected {
          color: $accent;
          font-weight: bolder;
          border-color: $accent;
        }
      }

      .action-btn {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        border-radius: 0.25rem;

        &.selected {
          color: white;
          background-color: $accent;
        }
      }

    }

  }

  .list-table {
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid $secondary;
      transition: all ease-in 0.25s;
    }

    tbody>tr {
      cursor: pointer;

      &:hover {
        background-color: $secondary;
      }
    }

    th {
      font-weight: bolder;
    }

    td,
    th {
      height: 2rem;
      padding: 0 0.5rem;
      vertical-align: middle;
      font-size: smaller;
    }

    .data-cell {
      text-align: center;
    }

    .data-name {
      text-align: left;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      >svg {
        color: $accent;
      }
    }

    input[type='checkbox'] {
      accent-color: $accent;
      appearance: none;
      border: 1px solid $terciary;
      background-color: white;
      width: 9px;
      height: 9px;

      &:checked {
        background-color: $accent;
        outline: 2px solid white;
        outline-offset: -3px;
      }
    }
  }

}